{% load static %}

{% load thumbnail %}
<header class="p-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img
            src={% static 'img/mainicon.png' %}
            class="bi me-2"
            width="52"
            height="44"
            alt="Иконка сайта"
            aria-label="Bootstrap"
          >
        </a>
        {% with request.resolver_match.view_name as view_name %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'homepage:home' %}"
              class="nav-link px-2
              {% if view_name == 'homepage:home' %} text-secondary disabled
              {% else %} li_active text-white {% endif %}">О нас</a></li>
            <li><a href="{% url 'delivery:delivery' %}"
              class="nav-link px-2
              {% if view_name == 'delivery:delivery' %} text-secondary disabled
              {% else %} li_active text-white {% endif %}">Доставки</a></li>
            <li><a href="{% url 'response:list_responses' %}"
              class="nav-link px-2
              {% if view_name == 'response:list_responses' %} text-secondary disabled
              {% else %} li_active text-white {% endif %}">Отзывы по доставкам</a></li>
            <li><a href="{% url 'feedback:feedback' %}"
              class="nav-link px-2
              {% if view_name == 'feedback:feedback' %} text-secondary disabled
              {% else %} li_active text-white {% endif %}">Обратная связь</a></li>
          </ul>
          {% if view_name == 'response:list_responses' %}
            {% include 'response/includes/search.html' %}
          {% endif %}
        
          <div class="text-end">
            {% if user.is_authenticated %}
              {% with request.resolver_match.view_name as view_name %}
                <div class="dropdown">
                  {% if user.image %}
                    {% thumbnail user.image "32x32" crop="center" as im %}
                      <img src="{{ im.url }}"
                        width="{{ im.width }}"
                        height="{{ im.height }}"
                        class="rounded-circle z-depth-0 dropdown-toggle"
                        role="button"
                        alt="Фото профиля"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >
                    {% endthumbnail %}
                  {% else %}
                  <img src="{% static 'img/blank-avatar.jpeg' %}"
                    width="32"
                    height="32"
                    class="rounded-circle z-depth-0 dropdown-toggle"
                    role="button"
                    alt="Фото профиля"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                  {% endif %}
                    <div class="dropdown-menu">
                      {% if view_name != 'users:profile' %}
                        <a href="{% url 'users:profile' %}" class="dropdown-item text-dark" style="color: #26ded2">Профиль</a>
                      {% endif %}
                      <a href="{% url 'users:logout' %}" class="dropdown-item text-danger">Выйти</a>
                    </div>
                </div>
              {% endwith %}
            {% else %}
              <a href="{% url 'users:login' %}"
              class="btn btn-outline-light me-2"
              style="color: #26ded2">Вход</a>
              <a href="{% url 'users:sign_up' %}"
              class="btn btn-outline-light me-2"
              style="color: #26ded2">Регистрация</a>
            {% endif %} 
        </div>
        {% endwith %}
      </div>
    </div>
</header>