{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Расчет доставок</title>
{% endblock title %}

{% block add_css_link %}
    <link rel="stylesheet" href={% static "css/delivery.css" %}>
{% endblock add_css_link %}

{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ apikey }}" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <div class="text-center">
        <h1>Стоимость доставки</h1>
        <h4 style="color: #26ded2" class="mt-3">Компании доставок для себя</h4>
        <table class='table-info table mx-auto' style="max-width: 65%;" border="1">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Компания</th>
                    <th scope="col">Специализация</th>
                    <th scope="col">Доставка курьером</th>
                    <th scope="col">Доставка до пункта выдачи</th>
                    <th scope="col">Ссылка</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Boxberry</td>
                    <td>Универсальные доставки</td>
                    {% if args_boxberry %}
                        {% for args in args_boxberry %}
                            <td>{{ args }}</mark>
                        {% endfor %}
                    {% else %}
                        <td>Отсутствует(возможно стоит перепроверить форму)</td>
                        <td>Отсутствует(возможно стоит перепроверить форму)</td>
                    {% endif %}
                    <td><a href='https://boxberry.ru/'>Сайт</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>L-post</td>
                    <td>Интернет-магазины</td>
                    {% if args_l_post %}
                        {% for args in args_l_post %}
                            <td>{{ args }}</mark>
                        {% endfor %}
                    {% else %}
                        <td>Отсутствует(возможно стоит перепроверить форму)</td>
                        <td>Отсутствует(возможно стоит перепроверить форму)</td>
                    {% endif %}
                    <td><a href='https://l-post.ru/'>Сайт</a></td>
                </tr>
            </tbody> 
        </table> 
    </div>
    <div class="text-center">
        <h4 style="color: #26ded2" class='mt-3'>Яндекс доставка</h4>
        <h6>компания специализируется на доставках для бизнеса</h6>
        <h6>доставка производится на грузовых автомобилях, тариф перевозки - 20 рублей за км</h6>
    </div>
    <script src={% static 'js/delivery_yandex.js' %} type="text/javascript"></script>
    <div id="map"></div>
    <br>
    <p class="text-center"><a href="https://dostavka.yandex.ru/">Ссылка на сайт компании</a></p>
    <div class='text-center pt-3'>
        <a class="btn btn-large btn-dark" href={% url 'delivery:taxi' %}>Забрать посылку на такси</a>
    </div>
    <h5 style="color: #26ded2" class='text-center mt-3 fw-weight-bold'>Посмотреть доставку менее популярных сервисов вы можете здесь</h5>
    <ul class="text-center">
        <li><a href="https://calculator-dostavki.ru/">Калькулятор доставки грузов по России</a></li>
        <li><a href="https://vse-dostavki.ru/calc/">Калькулятор грузоперевозок по России</a></li>
    </ul>
    <div class="text-center pb-3">
        <a class="btn btn-large btn-dark" href={% url 'delivery:delivery' %}>Заполнить форму снова</a>
    </div>    
{% endblock content %}