{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Расчет стоимости Такси</title>
{% endblock title %}

{% block add_css_link %}
    <link rel="stylesheet" href={% static "css/delivery.css" %}>
{% endblock add_css_link %}

{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ apikey }}" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src={% static 'js/route_panel_control.js' %} type="text/javascript"></script>
    <div id="map"></div>
    <div class="text-center pt-3">
        <a class="btn btn-large btn-dark" href={% url 'delivery:delivery' %}>Заполнить форму снова</a>
    </div>
{% endblock content %}