{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>О нас</title>
{% endblock title %}

{% block content %}
<div class="container-xxl bd-gutter">
  <div class="col-md-8 mx-auto text-center mt-3">
    <img
      src="{% static 'img/toby.png' %}"
      height="200"
      alt="Avatar of our store"
      class="d-block mx-auto mb-3 rounded-circle"
    >
    <h1 class="mb-3 fw-semibold">Выбери самый оптимальный сервис!</h1>
    <p class="text-center">
      Наш сервис FastGram предоставляет все функции для определения наиболее
      выгодную компанию для доставки посылки. В отличие от наших конкурентов, на
      нашем сайте вы можете посмотреть, оценить или оставить отзывы о самых
      популярных компаниях доставки сейчас. Перейдя на вкладку доставка и
      заполнив форму, вы сможете получить стоимость доставки для любых
      грузоперевозок, связанных как с бизнесом, так и с обычными доставками.
    </p>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Чем больше сила, тем больше ответственность.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Дядя Бэн в <cite title="Source Title">фильме Человек-паук</cite>
      </figcaption>
    </figure>
  </div>
</div>
{% endblock content %}
